<ion-view title="Product Open Database">
  <ion-content class="stable-bg">

  <div style="margin-top: 30%">
    <div class="range range-assertive">
      <input min="0" max="100" value="0" type="range" ng-model="data.sensor" ng-change="sensorDetection(data.sensor)" class="sensor">
    </div>
    <div class="row" style="padding-bottom: 10px">
      <canvas style="margin:auto" id="barcode" ng-click="editBarcode()"></canvas>
    </div>
    <div class="row">
      <input maxlength="13"  ng-show="showBarcodeInput" ng-model="data.barcodeInput" ng-change="updateBarcode(data.barcodeInput)" style="margin:auto ; text-align:center">
    </div>

    <div class="padding">
       <a class="button button-block button-assertive" href="#/productDetails/{{data.barcodeInput}}" ng-disabled="data.barcodeInput.length!=13">Search for product</a>
    </div>
  </div>
  </ion-content>
</ion-view>