.spinner svg {
  width: 100px;
  height: 100px;

}
.sensor {
  position: absolute;
  width: 95% !important;
  margin-top: 10% !important;
  margin-left:0 !important;
  margin-right:0 !important;
}

.scroll {
    height: 100% !important;
}

.button-bottom {
    position: absolute !important;
    margin: auto !important;
    bottom: 0 !important;
    width: 100% !important;
}

.imgopacity{
  opacity: 0.3;
}